.product-area {
    padding: 30px;
    background-color: #f9f9f9;
    min-height: 100vh;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(5 , 0.9fr);
    gap: 20px;
}

@media (max-width: 1024px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 640px) {
    .product-grid {
        grid-template-columns: 1fr;
    }
}
